annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
comtypes
deep-translator
duckduckgo_search
et_xmlfile
exceptiongroup
fastapi
filelock
fpdf
fsspec
gTTS
h11
idna
Jinja2
lxml
Markdown
markdown-it-py
markdown2
MarkupSafe
mdurl
mpmath
networkx
numpy
openpyxl
pandas
pillow
primp
pydantic
pydantic_core
Pygments
python-dateutil
python-docx
python-pptx
pytrends
pytz
pywin32
requests
rich
serpapi
shellingham
six
sniffio
soupsieve
starlette
sympy
torch
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
XlsxWriter
xlwings
